<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/GearConnectWatch" version="1.0.0" viewmodes="maximized">
    <tizen:application id="K1V0YdCu65.GearConnectWatch" package="K1V0YdCu65" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Fake AJAX</name>
    <tizen:privilege name="http://developer.samsung.com/privilege/accessoryprotocol"/>
    
    <feature name="http://developer.samsung.com/tizen/feature/network.accessory_protocol"/>
	<tizen:metadata key="AccessoryServicesLocation" value="res/xml/accessoryservices.xml"/>

</widget>
